<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 
    <bean id="hockeyCoach"
        class="com.nestjavatraining.springfoundation.HockeyCoach"> 
    </bean>
 	
 	<bean id="baseBallCoatch"
        class="com.nestjavatraining.springfoundation.BaseBallCoatch"> 
    </bean>
    <bean id="cricketCoatch"
        class="com.nestjavatraining.springfoundation.CricketCoatch"> 
    </bean>
    <bean id="footBallCoatch"
        class="com.nestjavatraining.springfoundation.FootBallCoatch"> 
    </bean>
 
</beans>